REGISTRY_URL=127.0.0.1
REGISTRY_TYPE=classic
REGISTRY_REPO=
REGISTRY_SSL_VERIFY=False
#application settings
DEBUG=True
SECRET_KEY=iamsecret
#Authentication credentials to the registry
REGISTRY_USERNAME=
REGISTRY_PASSWORD=
# Admin mode (leave empty to disable admin features)
ADMIN_PASSWORD=